@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
}

.gametable-wrapper {
  perspective: 1000px;
}

.gametable {
  transform: rotateX(30deg);
}

.cell {
  transform: perspective(1000px) translate3d(0px, 0px, 0px) rotateY(-180deg);
  transition:
    0.2s ease-in-out transform,
    0.2s ease-in-out box-shadow;
  box-shadow: 0 0px 40px -20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
}

.cell:hover {
  transform: perspective(1000px) translate3d(0px, -15px, 120px) rotateY(-180deg)
    scale(1, 1);
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
}

.cell.active {
  transform: perspective(1000px) translate3d(0px, 0px, 0px) rotateY(0deg)
    scale(1, 1);
  box-shadow: 0 0px 40px -20px rgba(0, 0, 0, 0.2);
}

.face {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
